:root {
    --first-color: navy;
    --second-color: lightcyan;
    --third-color: lavenderblush;
    --fourth-color: coral;
    --fifth-color: deeppink;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--first-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* styles for header */
header {
    background-image: url("../images/sunrise.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}


header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: var(--fifth-color);
    margin: 0;
    align-items: flex-start;
}

header a {
    text-decoration: none;
    color: var(--first-color);
    justify-content: space-between;
    align-items: flex-end;
}

header nav {
    margin: auto 20px;
    align-items: flex-end;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

footer {
    color: var(--fourth-color);
    font-size: 14px;
    margin: 0 0px 10px 10px;
}

section {
    padding: 60px;
}

/* hero style start */
.hero {
    background-image: url("../images/sunrise.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-comment {
    background-color: var(--fifth-color);
    padding: 20px;
    color: var(--first-color);
    font-weight: bolder;
    border: 3px solid var(--first-color);
    margin: 410px 20px 10px auto;
}

.hero-comment:hover {
    font-weight: lighter;
    background-color: var(--second-color);
    color: var(--first-color);
    border: 1px solid var(--first-color);
}

.hero-comment:hover span::after {
    content: "wide Web";
    color: var(--first-color);
    background-color: var(--second-color);
    font-weight: lighter;
}

body {
    background-color: var(--second-color);
}

.flex-section {
    display: flex;
}
/*
.portfolio {
    margin: auto;
}
*/
.flex-section h2 {
    text-align: right;
    margin: 20px;
    border-right: 2px solid var(--fifth-color);
    padding: 20px;
    font-size: 46px;
    flex: 1 30%;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 70%;
}

/*
section h2 {
    font-size: 36px;
    border-right: 2px double var(--fifth-color);
    padding: 20px;
    text-align: right;
    margin: 0 15px 35px auto;
    width: 30%;
}

/*
.portfolio {
    margin: 0 auto;
    width: 80%;
}

.profile {
    background: var(--third-color)
}

*/
.section-content p {
    line-height: 1.6;
    font-size: 18px;
    text-align: left;
}

.contact-info li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}